
body {
    font-style: Arial;
    background-color: wheat;
    margin: 20px
}

hi{
    color:black;
}

input[type="submit"] {
    background-color: green;
    color:white;
    border:none;
}

label{
    color:black;
}

form {
    background-color: burlywood;
}

legend{
    color:brown;
}

fieldset{
    border: 1px solid white;
}

